<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Blogs</title>
  <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <h1>All Blogs</h1>

  <% if (blogs && blogs.length > 0) { %>
    <ul>
      <% blogs.forEach(blog => { %>
        <li>
          <a href="/blogs/<%= blog._id %>"><%= blog.title %></a> - <%= blog.author.name %> <!-- Assuming author's name is available -->
          <% if (user && user.id.toString() === blog.author._id.toString()) { %>
            <a href="/blogs/<%= blog._id %>/edit">Edit</a> <!-- Only allow editing if the logged-in user is the author -->
          <% } %>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No blogs available at the moment.</p>
  <% } %>

  <p><a href="/blogs/create">Create a new blog</a></p>
  <p><a href="/users/profile">Back to Profile</a></p>
    <!-- Include the footer -->
</body>
</html>
